<head>
<meta charset="UTF-8">
<title>Melodia</title>
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="getUrlVars.js"></script>
<script>
$(document).ready( function() {
var trackId = getUrlVars()["trackId"];
var z=("https://itunes.apple.com/lookup?id=" + trackId + "&entity=song");
$("#track").empty();
$.ajax({
	url: z,
	type: "GET",
	dataType: "jsonp",
	async: false,
	success: function(data) {
	var a = data.results[0].artworkUrl100;
	var b = a.replace("100x100", "600x600");
	var artist = data.results[0].artistId;
	var collection = data.results[0].collectionId;
	$("#track").append("<h3>" + data.results[0].trackName + "<br/>" 
	+ "<a href='albums?collectionId=" + collection + "'>" + data.results[0].collectionName + "</a>" + "<br/>" 
	+ "<a href='artists?artistId=" + artist + "'>" + data.results[0].artistName + "</a>" + "<br/>" 
	+ "<img src='" + b + "' width='400' height='400' alt=''/>" + "<br/>"
	+ "<audio controls preload='none'><source src='" + data.results[0].previewUrl + "' type='audio/mpeg'></audio>" + "<br/>"
	+ "<a href='" + data.results[0].trackViewUrl + "'><img src='/assets/available.png' height=36.5px width=100px alt=''/></a>"
	+ "&nbsp&nbsp<a href='#'><img src='/assets/share_small.png' height=36.5px width=100px alt=''/></a>" + "</h3>");
	}
});
return false;
});
</script>
</head>

<body>
<%= render 'layouts/header' %>
<div id="shift_down_container">
<div id="track">
</div>
</div>
</body>